body {
    background-color: #333;
    color: #eee;
}

body, select, option, input {
    font: 18px "Fira Mono";
}

h1 {
    text-align: center;
}

.options {
    margin-left: 35%;
    line-height: 1.8em;
}

select {
    padding-right: 20px;
}

input {
    width: 50px;
}

a, a:visited {
    color: #0af;
}

a:hover {
    color: #6bf;
}

a:active {
    color: #08d;
}

#button-calculate {
    font: 18px "Fira Mono";
}

table {
    margin: auto;
    margin-top: 30px;
}

th, td {
    text-align: center;
    border: 1px solid white;
}

th {
    padding: 5px 15px;
}

td {
    padding: 1px 10px;
}

#th-score {
    padding: 5px 50px;
}

#th-notes {
    padding: 5px 80px;
}

.fuck-talk {
    text-align: center;
}